<div class="row album-detail">
  <div class="col-sm-2">
    <%= image_tag @album.image.url, class: "img-responsive cover-img" %>
  </div>
  <div class="col-sm-8">
    <h4 class="media-heading"><%= @album.kh_name %></h4>
    <p><%= link_to @album.production.kh_name, @album.production %></p>
    <p><%= render "share/social_share" %></p>
  </div>
</div>
