<div class="row album-detail">
  <div class="col-sm-2">
    <%= image_tag @artist.image.url, class: "img-responsive cover-img" %>
  </div>
  <div class="col-sm-8">
    <h4 class="media-heading"><%= @artist.kh_name %></h4>
    <p><%= render "share/social_share" %></p>
  </div>
</div>
