<div class="fb-action">
  <span class="fb-like" data-href="<%=  request.original_url %>" data-width="100%" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></span>
  <span>
    <a href="https://twitter.com/share" class="twitter-share-button"{count} data-via="angkorvoice"></a>
  </span>
  <span>
    <script src="https://apis.google.com/js/plusone.js"></script>
    <g:plus action="share" annotation="bubble"></g:plus>
  </span>
</div>
