<h3>
  <%= link_to production do %>
    <%= production.kh_name %>
    <span class="glyphicon glyphicon-menu-right icon-more"></span>
  <% end %>
</h3>
<hr>
<div class="row">
  <% @albums = production.albums.latest 4 %>
  <%= render @albums %>
</div>
