<div class="col-sm-3 production_box">
  <%= link_to production do %>
    <div class="thumbnail">
      <%= image_tag production.image.url, class: "album-image" %>
      <div class="caption">
        <h5><%= production.kh_name %></h5>
      </div>
    </div>
  <% end %>
</div>
