<div class="row">
  <div class="col-md-9">
    <div style="margin-bottom: 300px;">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ads_homepage -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-1391132134348179"
           data-ad-slot="2008653046"
           data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    <p>
      Music is an art form, social activity or cultural activity whose medium is sound and silence. The common elements of music are pitch (which governs melody and harmony), rhythm (and its associated concepts tempo, meter, and articulation), dynamics (loudness and softness), and the sonic qualities of timbre and texture (which are sometimes termed the "color" of a musical sound). Different styles or types of music may emphasize, de-emphasize or omit some of these elements. Music is performed with a vast range of instruments and with vocal techniques ranging from singing to rapping, and there are solely instrumental pieces, solely vocal pieces and pieces that combine singing and instruments. The word derives from Greek μουσική (mousike; "art of the Muses").[1] In its most general form, the activities describing music as an art form include the production of works of music (songs, tunes, symphonies, and so on), the criticism of music, the study of the history of music, and the aesthetic examination of music.
    </p>
    <p>
      The creation, performance, significance, and even the definition of music vary according to culture and social context. Indeed, throughout history, some new forms or styles of music have been criticized as "not being music", including Beethoven's Grosse Fuge in 1825[2] and early jazz in the beginning of the 1900s.[3] There are many types of music, including popular music, traditional music, art music, music written for religious ceremonies and work songs such as chanteys. Music ranges from strictly organized compositions (and their recreation in performance), through improvisational music such as jazz and aleatoric (chance-based) 20th and 21st century forms of music. Music can be divided into genres (e.g., Country music) and subgenres (e.g., Country blues), although the dividing lines and relationships between music genres are often subtle, sometimes open to personal interpretation, and occasionally controversial. For example, it can be hard to draw the line between 1980s hard rock and heavy metal from that same era. Within the arts, music may be classified as a performing art, a fine art or as an auditory art. Music may be played or sung and heard live, heard live as part of a dramatic work (a music theater show or opera), or it may be recorded and listened to on a radio, MP3 player or CD player or as part of a film or TV show.
    </p>
    <p>
      In many cultures, music is an important part of people's way of life, as it plays a key role in religious rituals, ceremonies (e.g., graduation), social activities (e.g., dancing) and cultural activities ranging from amateur karaoke singing to playing in a funk band or singing in a choir. People may make music as a hobby, for example in a youth orchestra, or as a professional musician or singer. Ancient Greek and Indian philosophers defined music as tones ordered horizontally as melodies and vertically as harmonies. Common sayings such as "the harmony of the spheres" and "it is music to my ears" point to the notion that music is often ordered and pleasant to listen to. However, 20th-century composer John Cage thought that any sound can be music, saying, for example, "There is no noise, only sound."[4]
    </p>
    <p>
      Music is an entertainment that puts sounds together in a way that people like or find interesting. Most music includes people singing with their voices or playing musical instruments, such as the piano, guitar, or drums.

      The word music comes from the Greek word μουσική (mousike), which means "(art) of the Muses". In Ancient Greece the Muses included the goddesses of music, poetry, art, and dance. Someone who makes music is called a musician.
    </p>
  </div>
  <div class="col-md-3">
    <div style="margin-top: 100px;">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- av_banner_category_2 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-1391132134348179"
           data-ad-slot="2883283840"
           data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
  </div>
</div>
