<div class="col-sm-3 production_box">
  <%= link_to album do %>
    <div class="thumbnail">
      <%= image_tag album.image.url, class: "album-image" %>
      <div class="caption">
        <h5><%= album.kh_name %></h5>
      </div>
    </div>
  <% end %>
</div>
