<div class="media album-detail">
  <div class="media-left">
    <%= link_to album do %>
      <%= image_tag album.image.url, width: "90", class: "album-image" %>
    <% end %>
  </div>
  <div class="media-body">
    <h5 class="media-heading"><%= link_to album.kh_name, album %></h5>
    <p><%= link_to album.production.kh_name, album.production %></p>
  </div>
</div>
