@import "bootstrap-sprockets";
@import "bootstrap";

html, body{
  background-color: #F9F9F9;
  height: 100%;
  font-family: "Hanuman", serif;
  word-wrap: break-word;
}

.header{
  margin-bottom: 60px;

  .logo {
    position: relative;
    top: -8px;
  }
}

.content{
  background-color: WHITE;
  padding: 20px 20px 20px 20px;
  min-height: 100%;
}

.modal-loading{
  opacity: 0.4;
  background-color: #EFEFEF;
}
.spinner{
  display: none;
  position: absolute;
  top: 400px;
  left: 500px;
  z-index: 1;
}

a{
  color: #666363;
}

a:hover{
  color: #2E0177;
  text-decoration: none;
}

// facebook
#fbcomments, .fb_iframe_widget,
.fb_iframe_widget[style],
.fb_iframe_widget iframe[style],
.fb_iframe_widget span,
#fbcomments iframe [style] {
  vertical-align: text-bottom !important;
}

/** Navbar **/
.navbar-default{
  background-color:rgba(255, 0, 162, 1);
  border-color: #DBD8D8;
  color: BLACK;
}

.navbar-default .navbar-brand{
  margin-top: -11px;
}

.navbar-default .navbar-nav>li>a{
  color: WHITE;
  font-weight: bold;
  font-size: 1.2em;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  color: #2E0177;
}

@media (max-width: 980px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}

/** End Navbar **/

@media (max-width: 600px) {
  .playlist .fb-share-button {
    display: none;
  }
}

.icon-more {
  font-size: 0.7em;
}

.icon-more-2 {
  font-size: 0.7em;
}

/** album-box **/
.thumbnail{
  // -moz-box-shadow:    0px 3px 5px 0px #ccc;
  // -webkit-box-shadow: 0px 3px 5px 0px #ccc;
  // box-shadow:         0px 3px 5px 0px #ccc;
  padding-top: 10px;
  text-align: center;
}

.cover-img {
  padding-bottom: 10px;
}

.btn-play{
  position: absolute;
  top: 30%;
  left: 40%;
  display: none;
}

.thumbnail:hover {
  cursor: pointer;
  // .btn-play{display:block;}
  .album-image{opacity: 0.8;}
}

.btn-action{
  margin: 0px 3px 0px 3px;
}

.album-detail{
  h4 {
    font-size: 1.5em;
    font-weight: bold;
  }

  h5 {
    font-size: 1em;
    font-weight: bold;
  }

  p{
    font-size: 1em;
    color: #757575;
    font-style: italic;
    margin: 10px 0px 10px 0px;
  }

  .album-image:hover {
    opacity: 0.9;
  }

}

/** End album-box **/

// Search Result
.search-result {
  padding: 10px;
  border-bottom: 1px solid #F0F0F0;

  .song-result {
    .artist, .album, .play-number {
      color: #666363;
    }

  }
}

// end search result

// Footer
.footer{
  background-color: BLACK;
  height: 50px;
  color: WHITE;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 10px;
}
// end footer

// Ads
.right-ads {
  margin-top: 40px;
  margin-bottom: 4px;
  width: 100%;
  height: 560px;
  overflow: hidden;
  position: relative;

  .ads {
    position: absolute;
    left: -815px;
    top: -100px;
  }
}

.right-ads2 {
  margin-top: 10px;
  margin-bottom: 4px;
  width: 100%;
  height: 560px;
  overflow: hidden;
  position: relative;

  .ads {
    position: absolute;
    left: -815px;
    top: -100px;
  }
}

.content-ads{
  margin-top: 10px;
  margin-bottom: 4px;
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: relative;

  .ads {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

